[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "==0.7.2"
Pillow = "==10.1.0"
requests = "==2.31.0"
streamdeck = "==0.9.4"

[dev-packages]

[requires]
python_version = "3.11"
